In [1]:
### part a 1 testing cells
%run parta1.py

In [39]:
# extracting relevant data from full dataframe
relevant_data = covid_data[['location','date','new_cases','total_cases','new_deaths','total_deaths']]

In [21]:
# testing the dataframe for covid data
relevant_data.head(10)

      location        date  new_cases  total_cases  new_deaths  total_deaths
0  Afghanistan  24/02/2020        1.0          1.0         NaN           NaN
1  Afghanistan  25/02/2020        0.0          1.0         NaN           NaN
2  Afghanistan  26/02/2020        0.0          1.0         NaN           NaN
3  Afghanistan  27/02/2020        0.0          1.0         NaN           NaN
4  Afghanistan  28/02/2020        0.0          1.0         NaN           NaN
5  Afghanistan  29/02/2020        0.0          1.0         NaN           NaN
6  Afghanistan   1/03/2020        0.0          1.0         NaN           NaN
7  Afghanistan   2/03/2020        0.0          1.0         NaN           NaN
8  Afghanistan   3/03/2020        1.0          2.0         NaN           NaN
9  Afghanistan   4/03/2020        2.0          4.0         NaN           NaN

In [54]:
# create dictionary of indexes representing each location
# locations = set(list(relevant_data.location))
location_dic = {}
for i in range(len(relevant_data.index)):
    if relevant_data.location[i] not in location_dic:
        location_dic[relevant_data.location[i]] = [i]
    else:
        location_dic[relevant_data.location[i]].append(i)
       
# each entry is a list of all the indexes of that location.

In [24]:
relevant_data['date']

0        24/02/2020
1        25/02/2020
2        26/02/2020
3        27/02/2020
4        28/02/2020
            ...
80515     5/04/2021
80516     6/04/2021
80517     7/04/2021
80518     8/04/2021
80519     9/04/2021
Name: date, Length: 80520, dtype: object

In [40]:
# converting the dates from strings d/m/y to datetime yyyy-mm-dd

import datetime

format_str = '%d/%m/%Y'
dates = list(relevant_data['date'].values)
for i in range(len(dates)):
    dates[i] = datetime.datetime.strptime(dates[i], format_str)
    dates[i] = dates[i].date()

relevant_data['date'] = dates
type(relevant_data.loc[0,'date'])

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

datetime.date

In [42]:
relevant_data.head(10)

      location        date  new_cases  total_cases  new_deaths  total_deaths
0  Afghanistan  2020-02-24        1.0          1.0         NaN           NaN
1  Afghanistan  2020-02-25        0.0          1.0         NaN           NaN
2  Afghanistan  2020-02-26        0.0          1.0         NaN           NaN
3  Afghanistan  2020-02-27        0.0          1.0         NaN           NaN
4  Afghanistan  2020-02-28        0.0          1.0         NaN           NaN
5  Afghanistan  2020-02-29        0.0          1.0         NaN           NaN
6  Afghanistan  2020-03-01        0.0          1.0         NaN           NaN
7  Afghanistan  2020-03-02        0.0          1.0         NaN           NaN
8  Afghanistan  2020-03-03        1.0          2.0         NaN           NaN
9  Afghanistan  2020-03-04        2.0          4.0         NaN           NaN

In [43]:
# datetime.date object has form yyyy-mm-dd
print(relevant_data.loc[[0,1],'date'])

0    2020-02-24
1    2020-02-25
Name: date, dtype: object

In [95]:
# aggregate the relevant columns for just afghan first to see how to do it
afg_start = location_dic['Afghanistan'][0]
afg_end = location_dic['Afghanistan'][-1]
afg = relevant_data[afg_start:afg_end]
afg = pd.DataFrame(afg[['date','new_cases','new_deaths']].values, columns = ['date','new_cases','new_deaths'])
afg
afg.set_index('date')
afg[2020-02-24:2020-02-25]

SyntaxError: invalid token (<ipython-input-95-da81ebbb4b31>, line 8)

In [94]:
# testing with Afghanistan to get relevant data for feb
num = relevant_data.location.value_counts()['Afghanistan']
# list(relevant_data.location)

afg = relevant_data[0:num+1]
afg.head(10)

# now make another sub dataframe for afghanistan where index is the dates
# only considering new cases and new deaths

afg1 = pd.DataFrame(afg[['new_cases','new_deaths']].values, columns = ['new_cases','new_deaths'], index = afg.date)
#afg1[2020-02-24]

#afg1.head(10)

            new_cases  new_deaths
date
2020-02-24        1.0         NaN
2020-02-25        0.0         NaN
2020-02-26        0.0         NaN
2020-02-27        0.0         NaN
2020-02-28        0.0         NaN
2020-02-29        0.0         NaN
2020-03-01        0.0         NaN
2020-03-02        0.0         NaN
2020-03-03        1.0         NaN
2020-03-04        2.0         NaN